<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>上海迩格</title>
		<link rel="stylesheet" type="text/css" href="../css/plug/public.css"/>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/plug/swiper-3.4.0.min.css"/>
		
		
		
	</head>
	<body>
		<div id="header"  class="clearfix">
			<div id="header_shade">
				<ul class="clearfix">
					<li><a href="#">定制</a></li>
					<li><a href="#">案例</a></li>
					<li><a href="#">动态</a></li>
				</ul>
				<div id="logo">
					<a href="#">
						<img src="../img/logo.png"/>
					</a>
				</div>
				<ul class="clearfix">
					<li><a href="#">我们</a></li>
					<li><a href="#">供应商</a></li>
					<li><a href="#">联系</a></li>
				</ul>
				<div id="sj">
					
				</div>
			</div>
			
		</div>
		
		
		
		
		
						
		<div id="footer">
			<div id="footer_shade">
				<div id="footer_top">
					<h2>开启全新迩格WEB视界</h2>
					<img src="../img/foot.png"/>
					<p>全局的核心数据实时监控全局的核心数据实时监控全局的核心数据实时监控全局的核心数据实时监控全局的核心数据实时监控全局的核心数据实时监控</p>
					<p>全局的核心数据实时监控全局的核心数据实时监控全局的核心数据实时监控全局的核心数据实时监控</p>
				</div>
				
				<div id="footer_middle">
					<ul class="clearfix">
						<li class="footer_middle_l">
							<h3>站内导航</h3>
							<ul class="clearfix">
								<li><a href="#">定制</a></li>
								<li><a href="#">案例</a></li>
								<li><a href="#">动态</a></li>
								<li><a href="#">我们</a></li>
								<li><a href="#">供应商</a></li>
								<li><a href="#">联系</a></li>
							</ul>
						</li>
						
						<li class="footer_middle_c">
							<h3>迩格客服</h3>
							<p>客服电话 ：021 5555 8987</p>
							<p>客服邮箱 ：baozi_web@163.com</p>
						</li>
						
						<li class="footer_middle_r">
							
						</li>
					</ul>
				</div>
				
				
				<div id="footer_bottom">
					<p>hciuwewuewndxijd@x sajc,cc,ls</p>
				</div>
			</div>
		</div>
		
		
		
		<script src="../js/plug/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/plug/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/plug/swiper-3.4.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/plug/swiper.animate1.0.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/case.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
